@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,600;0,700;1,600;1,700&family=Volkhov&display=swap');

html {
    font-size: 7px;
    font-weight: 700;
    font-style: italic;
}

body{
    font-family: 'Rosario', sans-serif;
    max-width: 1620px;
    margin: 0 auto;
}

header {
    height: 10vh;
    margin: 0;
    background-color: black;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFCFC;
    z-index: 99;
}

.logo {
    background-color: white;
    display: block;
    height: 100%;
}

.logo__img {
    height: 100%;
}

.header__menu {
    width: 50%;
    margin: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-item {
    font-size: 3.6rem;
}

.header__menu-item a {
    text-decoration: none;
    color: #FFFCFC;
}

.content_screen{
    height: 90vh;
    /*border: 1px solid red;*/
    overflow: hidden;
    box-sizing: border-box;
}

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery__left {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__left img {
    width: 100%;
    padding: 0 5rem;
}

.gallery__center {
    width: 57%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery__center img {
    width: 42%;
    max-height: 40%;
    margin: 4rem 1rem;
}


.gallery__right {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__right img {
    width: 100%;
    padding: 0 5rem;
}

.img_left_first {
    animation: animationFromLeftToCenter 1s linear;
    position: relative;
}

.img_left_second {
    animation: animationFromLeftToCenter 2s linear;
    position: relative;
}

.img_right_first {
    animation: animationFromRightToCenter 1s linear;
    position: relative;
}

.img_right_second {
    animation: animationFromRightToCenter 2s linear;
    position: relative;
}

@keyframes animationFromLeftToCenter {
    0%   { left: -60vw; }
    50%  { left: -60vw; }
    100% { left: 0; }
}

@keyframes animationFromRightToCenter {
    0%   { left: 60vw; }
    50%  { left: 60vw; }
    100% { left: 0; }
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.services__rotating {
    width: 50%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.services__rotating-card {
    max-width: 40%;
    height: 40%;
    box-sizing: border-box;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    position: absolute;
}

.services__rotating-card img {
    max-width: 100%;
    max-height: 100%;
}

.services__rotating-card div {
    font-size: 3rem;
    text-align: center;
}

.services__img {
    width: 39%;
    overflow: hidden;
}

.services__img img {
    height: 100%
}

.services__rotating-card:nth-of-type(1) {
    top: 0;
    left: 0;
    animation-name: square1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
}

.services__rotating-card:nth-of-type(2) {
    top:0;
    left: 50%;
    animation-name: square2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
}

.services__rotating-card:nth-of-type(3) {
    top:50%;
    left: 50%;
    animation-name: square3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
}

.services__rotating-card:nth-of-type(4) {
    top:50%;
    left: 0%;
    animation-name: square4;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
}

@keyframes square1 {
    0%    {top: 0; left: 0}
    25%   {top: 0; left: 50%;}
    50%   {top: 50%; left: 50%;}
    75%   {top: 50%; left: 0;}
    100%  {top: 0; left: 0;}
}

@keyframes square2 {
    0%    {top: 0; left: 50%}
    25%   {top: 50%; left: 50%;}
    50%   {top: 50%; left: 0;}
    75%   {top: 0; left: 0;}
    100%  {top: 0; left: 50%;}
}

@keyframes square3 {
    0%    {top: 50%; left: 50%}
    25%   {top: 50%; left: 0;}
    50%   {top: 0; left: 0;}
    75%   {top: 0; left: 50%;}
    100%  {top: 50%; left: 50%;}
}

@keyframes square4 {
    0%    {top: 50%; left: 0}
    25%   {top: 0; left: 0;}
    50%   {top: 0; left: 50%;}
    75%   {top: 50%; left: 50%;}
    100%  {top: 50%; left: 0;}
}

.team {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 70vh;
}

.team__card {
    width: 24%;
    height: 100%;
    position: relative;
}

.team__card-img {
    height: 100%;
    overflow: hidden;
    border-radius: 40px;
}

.team__card img {
    height: 100%;
    width: 100%;
}

.team__header {
    font-size: 9.6rem;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding: 2rem;
    height: 15vh;
}

.team__card-content {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 4rem;
    box-sizing: border-box;
    width: 100%;
    font-size: 4.8rem;
    height: 15rem;
    display: none;
    background-color: rgba(163, 83, 10, 0.7);
    border-radius: 0 0 40px 40px;
}

.team__card:hover .team__card-content{
    display: block;
    z-index: 10;
}

.team:hover img {
    filter: brightness(0.5);
}

.team__card:hover img{
    filter: brightness(1)   ;
}

.contact {

}

.contact__content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 3rem auto;
    height: 60vh;
    width: 80%;
}

.contact__content-left {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.contact__content-left-title {
    font-size: 6.4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.contact__content-left-form {
    background-color: #E5E5E5;
    height: 100%;
}

.form__elements {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3.6rem;
}

.form__elements-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.form__elements-inputs div {
    width: 48%;
}

.form__elements-inputs-text {
    margin: 0 auto;
    display: flex;
    width: 100%;
}
textarea {
    width: 100%;
    height: 30vh;
}

input {
    width: 98%;
}

.contact__content-map {
    width: 35%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 90%;
    margin: 0 auto;
}

.footer__item {
    font-size: 3.2rem;
    font-weight: 400;
    width: 32%;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

b {
    font-style: normal;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 4px;
    }

    .content_screen{
        height: 100%;
        /*border: 1px solid red;*/
        box-sizing: border-box;
    }
    .gallery {
        flex-wrap: wrap;
        justify-items: center;
    }

    .gallery__left {
        width: 100%;
    }
    .gallery__right {
        width: 100%;
    }
    .gallery__center {
        flex-wrap: wrap;
        justify-items: center;
        width: 100%;
    }
    .gallery__center img {
        width: 100%;
    }

    .services {
        flex-wrap: wrap;
    }

    .services__rotating {
        width: 100%;
        height: 90vh;
    }

    .services__rotating-card img {
        height: 50%;
    }

    .services__img {
        display: none;
    }

    .team {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .team__card {
        width: 99%;
        height: 100%;
        position: relative;
    }

    .team__card:hover .team__card-content{
        display: block;
        z-index: 10;
        opacity: 0;
        animation: ani 1s forwards;
    }

    .team:hover img {
        filter: none;
    }

    .team__card:hover img{
        filter: none;
    }

    @keyframes ani {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
}

/*@media screen and (min-width: 768px) and (max-width: 992px) {*/

/*}*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 5px;
    }

    .gallery {
        flex-wrap: wrap;
        justify-items: center;
    }
    .content_screen{
        height: 100%;
        /*border: 1px solid red;*/
        box-sizing: border-box;
    }
    .gallery__left {
        width: 42%;
        order: 1;
        height: 75%;
        margin-left: 6%;
    }
    .gallery__right {
        width: 42%;
        order: 2;
        height: 75%;
        margin-right: 6%;
    }
    .gallery__center {
        width: 100%;
        order: 3;
    }

    .img_left_first {
        animation: animationFromLeftToCenter 1s linear;
        position: relative;
    }

    .img_left_second {
        animation: animationFromLeftToCenter 1s linear;
        position: relative;
    }

    .img_right_first {
        animation: animationFromRightToCenter 1s linear;
        position: relative;
    }

    .img_right_second {
        animation: animationFromRightToCenter 1s linear;
        position: relative;
    }

    @keyframes animationFromLeftToCenter {
        0%   { left: -60vw; }
        100% { left: 0; }
    }

    @keyframes animationFromRightToCenter {
        0%   { left: 60vw; }
        100% { left: 0; }
    }

    .services {
        flex-wrap: wrap;
        height: 230vh;
    }

    .services__rotating {
        width: 100%;
        order: 2;
    }

    .services__img {
        width: 100%;
        order: 1;
    }

    .team {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .team__card {
        /*width: 49%;*/
        /*height: 100%;*/
        position: relative;
    }

    .team__card:hover .team__card-content{
        display: block;
        z-index: 10;
        opacity: 0;
        animation: ani 1s forwards;
    }

    .team:hover img {
        filter: none;
    }

    .team__card:hover img{
        filter: none;
    }

    @keyframes ani {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    .contact {
        flex-wrap: wrap;
        display: flex;
    }

    footer {
        order: 1;
    }

    .contact__content {
        order: 2;
    }
}